html, body
{
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
body
{
	background-image: url('./background2.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: 'Courier New', Courier, Monospace;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
	flex-grow: 1;
}
.brand-navbar
{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.explore-navbar-nav
{
	background-color: white;
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 5%;
	width: 100%
}
.navbar-nav .nav-item
{
	margin: 0 15px;
}
.navbar-nav .nav-link
{
	padding: 0;
	line-height: 40px;
}
.footer
{
	background-color: gray;
	padding: 10px 0;
	text-align: center;
	margin-top: auto;
	width: 100%;
	height: 15%;
}
.footer a
{
	color: #333;
	text-decoration: none;
	margin: 0 5px;
}
.footer a:hover
{
	color: black;
}
.custom-button
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	background-color: #362c45;
	color: white;
	font-family: 'Courier New', Courier, Monospace;
	font-size: 85%;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #333;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border 0.3s;

	width: 30%;
	max-width: 200px;
	min-width: 90px;
	height: auto;
	padding: 12px 20px;
	box-sizing: border-box;
}
.custom-button:hover
{
	background-color: #745c94;
	color: #46365c;
	border-color: #745c94;
}
.button-group
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 50px;
}
.error-message
{
	color: red;
	font-size: 12px;
}
.form-container
{
	background-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
	border-radius: 20px;
}
.options-container
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	gap: 20px;
	margin: 20px auto;
}
.option
{
	font-family: 'Courier New', Courier, Monospace;
	font-size: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	padding: 30px;
	max-width: 1000px;
	border-radius: 20px;
	background-color: #745c94;
}
.friend-card
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	gap: 5px;
	width: 100%;
	margin-bottom: 10px;
}
