html, body
{
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body
{
	background-image: url('./background2.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: 'Courier New', Courier, Monospace;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
	flex-grow: 1;
}

.brand-navbar
{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.explore-navbar-nav
{
	background-color: white;
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 5%;
	width: 100%
}

.navbar-nav .nav-item
{
	margin: 0 15px;
}

.navbar-nav .nav-link
{
	padding: 0;
	line-height: 40px;
}

.footer
{
	background-color: gray;
	padding: 10px 0;
	text-align: center;
	margin-top: auto;
	width: 100%;
	height: 15%;
}

.footer a
{
	color: #333;
	text-decoration: none;
	margin: 0 5px;
}

.footer a:hover
{
	color: black;
}

.custom-button
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	background-color: #362c45;
	color: white;
	font-family: 'Courier New', Courier, Monospace;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #333;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border 0.3s;

	width: 30%;
	max-width: 200px;
	min-width: 90px;
	height: auto;
	padding: 12px 20px;
	box-sizing: border-box;
}

.custom-button:hover
{
	background-color: #745c94;
	color: #46365c;
	border-color: #745c94;
}

.error-message
{
	color: red;
	font-size: 12px;
	display: none;
}

.form-container
{
	background-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
	border-radius: 20px;
}

/*FRIENDS SECTION*/

.friends-header-container
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.friends-header
{
    font-size: 36px;
    font-weight: bold;
    background-color: #7011b0;
    color: rgb(175, 155, 179);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
}

.friends-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


.friend-card
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.friend-username
{
    flex: 2;
    padding: 5px;
    background-color: #f0f0f0;
}

.friend-status
{
    flex: 1;
    padding: 5px;
    text-align: center;
}

.friend-actions
{
    flex: 1;
    text-align: right;
}

.online
{
    background-color: #d4edda;
}

.offline
{
    background-color: #f8d7da;
}

.add-friend-container
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
