{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Webapp</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'pong_app/css/styles.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
	<nav class="brand-navbar">
		<p class="navbar-nav d-flex flex-row justify-content-center w-100" href="#" style="color: white">
			<img src="icon.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
		WebPong
		</p>
	</nav>
	<nav class="explore-navbar-nav">
		<ul class="navbar-nav d-flex flex-row justify-content-center w-100">
			<li class="nav-item active">
				<a class="nav-link" aria-current="page" href="#">Home </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Profile </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Play </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Friends </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Log out </a>
			</li>
		</ul>
	</nav>
	<div id="app" class="container" style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
		<button class="custom-button" id="signup-link">Sign up</button>
		<button class="custom-button" id="login-link">Log in</button>
		<button class="custom-button" id="login42-link">42 Log in</button>
	</div>
	<footer class="footer">
		<section class="text-center mb-3">
			<a href="https://github.com/BriBelt/ft_transcendence" target="_blank" aria-label="GitHub">
			  <i class="fab fa-github fa-2x"></i>
			</a>
		</section>
		<div class="text-center p-3" style="background-color: gray; color: #333;">
			2024 ft_transcendence
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <!--<script src="../../static/pong_app/js/main.js"></script>
    <script src="../../static/pong_app/js/navigate.js"></script>
    <script src="../../static/pong_app/js/loadForms.js"></script>
    <script src="../../static/pong_app/js/handleCredentials.js"></script>
    <script src="../../static/pong_app/js/profileSettings.js"></script>
    <script src="../../static/pong_app/js/handleProfile.js"></script>
    <script src="../../static/pong_app/js/oauth.js"></script>
    <script src="../../static/pong_app/js/pong_game.js"></script>
    <script src="../../static/pong_app/js/signUp.js"></script>
    <script src="../../static/pong_app/js/handleFriends.js"></script>-->
    <script src="{% static 'pong_app/js/main.js' %}"></script>
    <script src="{% static 'pong_app/js/navigate.js' %}"></script>
    <script src="{% static 'pong_app/js/loadForms.js' %}"></script>
    <script src="{% static 'pong_app/js/handleCredentials.js' %}"></script>
    <script src="{% static 'pong_app/js/profileSettings.js' %}"></script>
    <script src="{% static 'pong_app/js/handleProfile.js' %}"></script>
    <script src="{% static 'pong_app/js/oauth.js' %}"></script>
    <script src="{% static 'pong_app/js/pong_game.js' %}"></script>
    <script src="{% static 'pong_app/js/signUp.js' %}"></script>
    <script src="{% static 'pong_app/js/handleFriends.js' %}"></script>
    <script src="{% static 'pong_app/js/logout.js' %}"></script>
    <script src="{% static 'pong_app/js/jwt.js' %}"></script>
    <script src="{% static 'pong_app/js/htmlContent.js' %}"></script>

</body>
</html>
