<!DOCTYPE html>
<html>
<head>
    <title>OAuth Callback</title>
</head>
<body>
    <h1>Processing your login...</h1>
    <script src="../../static/pong_app/js/main.js"></script>
    <script src="../../static/pong_app/js/handleCredentials.js"></script>
    <script src="../../static/pong_app/js/oauth.js"></script>
    <script>
        (function() {
            const urlParams = new URLSearchParams(window.location.search);
            const code = urlParams.get('code');

            if (code)
	    {
                // Use the makeApiPetition function defined in main.js
		console.log('code inside html ', code)
                makeApiPetition(code);
            }
	    else
	    {
                alert('No authorization code found.');
		loadLoginForm();
//                window.location.href = '/login/'; // Redirect to login page if no code
            }
        })();
    </script>
</body>
</html>

